HTTP_SERVER_HOST=0.0.0.0
HTTP_SERVER_PORT=3800

POSTGRES_DSN=postgres://ivan:popov@pg:5432/study-platform?sslmode=disable
POSTGRES_MIGRATIONS_DIR=migrations

JWT_ACCESS_TOKEN_SECRET_KEY=aXZhbiBwb3BvdiBzdHVkeS1wbGF0Zm9ybSBzb2Z0c2VydmUtaW50ZXJuc2hpcCBnb2xhbmcgMjAyNg==
JWT_REFRESH_TOKEN_SECRET_KEY=aXZhbiBwb3BvdiBzdHVkeS1wbGF0Zm9ybSBzb2Z0c2VydmUtaW50ZXJuc2hpcCBnb2xhbmcgMjAyNg==

JWT_ACCESS_TOKEN_TTL=5m
JWT_REFRESH_TOKEN_TTL=4320m

APP_NAME=study-platform
APP_STAGE=dev
APP_GRACEFUL_SHUTDOWN_TIMEOUT=15s
